button {
    width: 100px;
    height: 100px;
    padding: 5px;
    border-radius: 8px;
    background-color: #ddd;
    border: 1px solid black;
    color: black;
}

#calculator-border {
    text-align: center;
    width: 500px;
    border-radius: 8px;
    background-color: cadetblue;
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
    overflow: hidden;
}

#display {
    /* margin-right: -30px; */
    text-align: right;
    font-family: Roboto;
    font-size: 80px;
}